<script lang="ts">
  import { onMount } from "svelte";
  import Glide, {
    Controls,
    Breakpoints,
  } from "@glidejs/glide/dist/glide.modular.esm";

  import type { EmbedItem } from "../types";
  import CarouselItem from "./CarouselItem.svelte";

  export let data: EmbedItem[];

  let carouselContainer: HTMLDivElement;
  let activeSlide = 1;

  onMount(() => {
    const glide = new Glide(carouselContainer, {
      perView: 3,
      focusAt: "center",
      gap: 10,
      startAt: 1,
      animationDuration: 300,
    }).mount({
      Controls,
      Breakpoints,
    });

    glide.on("run.before", (e) => {
      activeSlide = Number(e.steps);
    });
  });
</script>

<div class="ss-embed-carousel" bind:this={carouselContainer}>
  <div class="ss-embed__track glide__track" data-glide-el="track">
    <ul class="ss-embed__slides glide__slides">
      {#each data as item, i}
        <li
          class={`ss-embed__slide glide__slide ${
            activeSlide === i
              ? "glide__slide--pre-active"
              : i === activeSlide - 1
              ? "glide__slide--previous"
              : i === activeSlide + 1
              ? "glide__slide--next"
              : ""
          }`}
        >
          <CarouselItem data={item} />
        </li>
      {/each}
    </ul>
  </div>
  <div class="glide__bullets bullets" data-glide-el="controls[nav]">
    {#each data as _, i}
      <button class="glide__bullet bullet" data-glide-dir={`=${i}`} />
    {/each}
  </div>
</div>

<style global>
  .ss-embed-carousel .glide__slide {
    opacity: 0.1;
    transform: scale(0.8);
    transition: opacity 0.25s, transform 0.25s;
  }

  .ss-embed-carousel .glide__slide--previous {
    transform: translate(25%, 0) scale(0.8);
  }

  .ss-embed-carousel .glide__slide--next {
    transform: translate(-25%, 0) scale(0.8);
  }

  .ss-embed-carousel .glide__slide--pre-active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
  }

  .bullets {
    margin-top: 12px;
  }

  .bullet {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
    background: #fff;
    transition: background 0.25s;
    margin-right: 12px;
    cursor: pointer;
  }

  .ss-embed-carousel .glide__bullet--active {
    background: #C4C4C4;
  }
</style>
