<script lang="ts">
  import Quote from "../Icons/Quote.svelte";
  import type { EmbedItem } from "../types";
  import Stars from "./Stars.svelte";

  export let data: EmbedItem;

  const { review, avatar, rating, name } = data;
</script>

<div class="ss-embed-review__item item">
  <Quote />
  <p class="review">{review}</p>
  <div class="ss-embed-review__item-footer footer">
    <div class="ss-embed-review__avatar avatar">
      <img src={avatar} alt={`${name} profile picture`} />
    </div>
    <div class="ss-embed-review__info info">
      <p>{name}</p>
      <Stars {rating} />
    </div>
  </div>
</div>

<style>
  .item {
    max-width: 540px;
    background-color: #63686f;
    border-radius: 4px;
    padding: 50px;
    color: #fff;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  div,
  p {
    margin: 0;
    padding: 0;
  }

  p {
    color: #fff;
  }

  .review {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
  }

  .footer {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  .info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }
</style>
