<script lang="ts">
  import Quote from "../Icons/Quote.svelte";
  import type { EmbedItem } from "../types";
  import Stars from "./Stars.svelte";

  export let data: EmbedItem;
</script>

<div class="ss-embed-listitem item">
  <div class="ss-embed-listitem__content content">
    <Quote color={"#63686F"} />
    <p class="ss-embed-listitem__review review">{data.review}</p>
    <p class="ss-embed-listitem__name name">{data.name}</p>
    <Stars rating={data.rating} />
  </div>
  <div class="ss-embed-listitem__avatar avatar">
    <img src={data.avatar} alt={`${data.name} profile picture`} />
  </div>
</div>

<style>
  .item {
    padding: 22px 30px;
    background: #fafafa;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
  }

  .content {
    flex: 1;
  }

  .avatar {
    width: 64px;
    height: 64px;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .review {
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
  }

  .name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #63686f;
    margin-bottom: 4px;
  }
</style>
