<script lang="ts">
  import type { EmbedItem } from "../types";
  import ListItem from "./ListItem.svelte";

  export let data: EmbedItem[];
</script>

<div class="ss-embed-list">
  {#each data as listItem}
    <ListItem data={listItem} />
  {/each}
</div>
