<script lang="ts">
  import Star from "../Icons/Star.svelte";

  /**
   * Rating should be from 1 to 5
   */
  export let rating = 1;

  const fillArray = Array.from({ length: 5 });
</script>

<div class="ss-embed-review__stars">
  {#each fillArray as _, i}
    <Star color={i < rating ? "#F5C744" : "#CCCDCE"} />
  {/each}
</div>
