<script lang="ts">
import List from "./Components/List.svelte";

  const data = [
    {
      review:
        "SurveySparrow is helping us obtain insight into our leads' and customers' perceptions of our products and our company - and that is very important to us.",
      avatar: "https://via.placeholder.com/200/200",
      name: "John Wick",
      rating: 3,
    },
    {
      review:
        "SurveySparrow is helping us obtain insight into our leads' and customers' perceptions of our products and our company - and that is very important to us.",
      avatar: "https://via.placeholder.com/200/200",
      name: "John Wick",
      rating: 3,
    },
    {
      review:
        "SurveySparrow is helping us obtain insight into our leads' and customers' perceptions of our products and our company - and that is very important to us.",
      avatar: "https://via.placeholder.com/200/200",
      name: "John Wick",
      rating: 3,
    },
    {
      review:
        "SurveySparrow is helping us obtain insight into our leads' and customers' perceptions of our products and our company - and that is very important to us.",
      avatar: "https://via.placeholder.com/200/200",
      name: "John Wick",
      rating: 3,
    },
  ];
</script>
<List data={data} />
